<!DOCTYPE html>
<html>
<head>
<!-- Log out page template -->
  <title>logout</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
  <style type="text/css">
    body{
       background-color: #ffffff;
    }

    .font{
      
      font-family: 'Noto Sans KR', sans-serif;
        padding-left: 500px;
          margin-top: 20%;
          font-size: 50px;
    }
  </style>
</head>
<body>
<h1 class="font">Safely Logged Out.</h1>
</body>
</html>